<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="static/styles/bootstrap.min.css"
      th:href="@{/styles/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      href="static/styles/styles.css"
      th:href="@{/styles/styles.css}"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      th:href="@{/images/box-icon.png}"
      href="static/images/box-icon.png"
    />
    <script
      src="static/js/sweetalert2.all.min.js"
      th:src="@{/js/sweetalert2.all.min.js}"
    ></script>
    <title>App Inventory PC</title>
  </head>
  <body>
    <header>
      <div class="container border-bottom border-secondary w-100 shadow-lg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <span class="navbar-text fw-bold text-dark">
              Bienvenido
              <span
                class="navbar-text text-secondary text-uppercase"
                th:text="${usuario.nombre}"
              ></span>
              <span
                class="navbar-text text-secondary text-uppercase"
                th:text="${usuario.apellido}"
              ></span>
            </span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a th:href="@{/index}">
                <button
                  class="btn-close me-md-2 border border-dark"
                  type="button"
                ></button>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container w-100 mt-5 rounded shadow">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li
          class="nav-item"
          role="presentation"
          th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}"
        >
          <button
            class="nav-link active"
            id="add-tab"
            data-bs-toggle="tab"
            data-bs-target="#agregar"
            type="button"
            role="tab"
            aria-controls="add"
            aria-selected="true"
          >
            Agregar articulo
          </button>
        </li>
        <li
          class="nav-item"
          role="presentation"
          th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}"
        >
          <button
            class="nav-link active"
            id="articulo-tab"
            data-bs-toggle="tab"
            data-bs-target="#articulo"
            type="button"
            role="tab"
            aria-controls="articulo"
            aria-selected="true"
          >
            Articulos
          </button>
        </li>
        <li class="nav-item" role="presentation"  th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}">
          <button
            class="nav-link"
            id="list-tab"
            data-bs-toggle="tab"
            data-bs-target="#lista"
            type="button"
            role="tab"
            aria-controls="list"
            aria-selected="false"
          >
            Ver articulos agregados
          </button>
        </li>
        <li class="nav-item" role="presentation"  th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}">
          <button
            class="nav-link"
            id="proveedores-tab"
            data-bs-toggle="tab"
            data-bs-target="#proveedores"
            type="button"
            role="tab"
            aria-controls="proveedores"
            aria-selected="false"
          >
            Ver proveedores
          </button>
        </li>
        <li class="nav-item" role="presentation"  th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}">
          <button
            class="nav-link"
            id="report-tab"
            data-bs-toggle="tab"
            data-bs-target="#reporte"
            type="button"
            role="tab"
            aria-controls="report"
            aria-selected="false"
          >
            Reportes
          </button>
        </li>
        <li class="nav-item" role="presentation" th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}">
          <button
            class="nav-link"
            id="report-tab"
            data-bs-toggle="tab"
            data-bs-target="#reporte"
            type="button"
            role="tab"
            aria-controls="report"
            aria-selected="false"
          >
            Reportes
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="agregar"
          role="tabpanel"
          aria-labelledby="add-tab"
          th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}"
        >
          <form
            th:action="@{/}+${usuario.cedula}"
            method="post"
            th:object="${articulo}"
          >
            <div
              class="mb-3 mt-2"
              th:if="${param.none} OR ${param.success} OR ${param.new}"
            >
              <label for="serial">Serial</label>
              <input
                type="text"
                class="form-control"
                id="serial"
                th:field="*{serial}"
                maxlength="5"
                minlength="5"
                style="text-transform: uppercase"
                placeholder="000AA"
                required
              />
            </div>
            <div
              class="mb-3"
              th:if="${param.none} OR ${param.success} OR ${param.new}"
            >
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                th:field="*{nombre}"
                onclick="return checkSerial();"
                required
              />
            </div>
            <div class="mb-3" th:if="${param.new} OR ${param.old}">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                th:field="*{stock}"
              />
            </div>
            <div class="mb-3" th:if="${param.new} OR ${param.old}">
              <label for="precioU" class="form-label">Precio Unitario</label>
              <input
                type="number"
                class="form-control"
                id="precioU"
                th:field="*{precioU}"
              />
            </div>
            <div class="d-grid mb-3" th:if="${param.none} OR ${param.success}">
              <button
                type="submit"
                class="btn btn-primary"
                onclick="return checkSerial();"
              >
                Agregar
              </button>
            </div>
            <div
              class="d-grid gap-2 col-6 mx-auto mb-3"
              th:if="${param.new} OR ${param.old}"
            >
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                onclick="return checkSerial();"
                th:if="${param.new}"
              >
                Agregar
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                onclick="return checkSerial();"
                th:if="${param.old}"
              >
                Actualizar
              </button>
              <a
                class="btn btn-primary btn-lg"
                th:href="@{/gestor/}+${usuario.cedula}+@{/true?none}"
                role="button"
              >
                Regresar
              </a>
            </div>

            <div class="mb-3 border-bottom"></div>
          </form>
        </div>
        <div
          class="tab-pane fade"
          id="lista"
          role="tabpanel"
          aria-labelledby="list-tab"
          th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}"
        >
          <table class="table table-striped table-bordered mt-2">
            <thead class="table-dark">
              <tr>
                <th class="text-center">Serial</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Precio Unitario</th>
                <th class="text-center">Precio Bruto</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dato : ${articulos}">
                <td th:text="${dato.serial}">ND</td>
                <td th:text="${dato.nombre}">ND</td>
                <td th:text="${dato.stock}">ND</td>
                <td th:text="${dato.precioU}">ND</td>
                <td th:text="${dato.precioB}">ND</td>
              </tr>
            </tbody>
          </table>
          <div class="mb-3 border-bottom"></div>
        </div>
        <div
          class="tab-pane fade"
          id="reporte"
          role="tabpanel"
          aria-labelledby="report-tab"
          th:if="${usuario.tipoP != 0 and usuario.tipoE == 0}"
        >
          <div class="d-grid gap-2 d-md-block m-3">
            <a
              th:href="@{/reporte/}+${usuario.cedula}"
              role="button"
              class="btn btn-primary"
            >
              Generar Reporte
            </a>
            <a
            th:href="@{/reporte/}+${usuario.cedula}+@{/eliminar}"
            role="button"
            class="btn btn-primary"
          >
            Eliminar Reporte
          </a>
          </div>
          <table class="table table-striped table-bordered mt-2">
            <thead class="table-dark">
              <tr>
                <th class="text-center">Reporte</th>
                <th class="text-center">Fecha del Reporte</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dato : ${reportes}">
                <td th:text="${dato.numReporte}">ND</td>
                <td th:text="${dato.fechaR}">ND</td>
              </tr>
            </tbody>
          </table>
          <div class="mb border-bottom"></div>
        </div>
        <div
          class="tab-pane fade show active"
          id="articulo"
          role="tabpanel"
          aria-labelledby="articulo-tab"
          th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}"
        >
        <table class="table table-striped table-bordered mt-2">
          <thead class="table-dark">
            <tr>
              <th class="text-center">Serial</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Stock</th>
              <th class="text-center">Precio Unitario</th>
              <th class="text-center">Precio Bruto</th>
              <th class="text-center">Proveedor</th>
              <th class="text-center">Ultima modificacion</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="dato : ${articulosT}">
              <td th:text="${dato.serial}">ND</td>
              <td th:text="${dato.nombre}">ND</td>
              <td th:text="${dato.stock}">ND</td>
              <td th:text="${dato.precioU}">ND</td>
              <td th:text="${dato.precioB}">ND</td>
              <td th:text="${nombreProveedor.get(dato.proveedor)}">ND</td>
              <td th:text="${dato.fechm}">ND</td>
            </tr>
          </tbody>
        </table>
        <div class="mb-3 border-bottom"></div>
      </div>
      <div
          class="tab-pane fade"
          id="proveedores"
          role="tabpanel"
          aria-labelledby="proveedores-tab"
          th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}"
        >
        <table class="table table-striped table-bordered mt-2">
          <thead class="table-dark">
            <tr>
              <th class="text-center">Cedula</th>
              <th class="text-center">Nombre completo</th>
              <th class="text-center">Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="dato : ${usuarios}">
              <td th:text="${dato.cedula}">ND</td>
              <td th:text="${dato.nombre}+${dato.apellido}">ND</td>
              <td th:text="${dato.correo}">ND</td>
            </tr>
          </tbody>
        </table>
        <div class="mb-3 border-bottom"></div>
      </div>
      <div
          class="tab-pane fade"
          id="reporte"
          role="tabpanel"
          aria-labelledby="report-tab"
          th:if="${usuario.tipoP == 0 and usuario.tipoE != 0}"
        >
          <div class="d-grid gap-2 d-md-block m-3">
            <a
              th:href="@{/reporte/}+${usuario.cedula}"
              role="button"
              class="btn btn-primary"
            >
              Generar Reporte
            </a>
            <a
            th:href="@{/reporte/}+${usuario.cedula}+@{/eliminar}"
            role="button"
            class="btn btn-primary"
          >
            Eliminar Reporte
          </a>
          </div>
          <table class="table table-striped table-bordered mt-2">
            <thead class="table-dark">
              <tr>
                <th class="text-center">Reporte</th>
                <th class="text-center">Fecha del Reporte</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dato : ${reportes}">
                <td th:text="${dato.numReporte}">ND</td>
                <td th:text="${dato.fechaR}">ND</td>
              </tr>
            </tbody>
          </table>
          <div class="mb border-bottom"></div>
        </div>
    </div>

    <script
      src="static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
  <script
    src="static/js/jquery-3.6.0.min.js"
    th:src="@{/js/jquery-3.6.0.min.js}"
  ></script>
  <script src="static/js/functions.js" th:src="@{/js/functions.js}"></script>
  <script th:if="${param.success}" th:inline="javascript">
    Swal.fire({
      title: "Articulo agregado",
      text: "El articulo se agrego correctamente",
      icon: "success",
      showConfirmButton: false,
      timer: 2000,
      toast: true,
      position: "top-end",
    }).then(() => {
      var id = /*[[${usuario.cedula}]]*/ "0";
      window.location.href = "/gestor/" + id + "?none";
    });
  </script>
  <script th:if="${param.successD}" th:inline="javascript">
    Swal.fire({
      title: "Estado reporte",
      text: "El Reporte se elimino correctamente",
      icon: "error",
      showConfirmButton: false,
      timer: 2000,
      toast: true,
      position: "top-end",
    }).then(() => {
      var id = /*[[${usuario.cedula}]]*/ "0";
      window.location.href = "/gestor/" + id + "?none";
    });
  </script>
  <script th:if="${param.new}" th:inline="javascript">
    Swal.fire({
      title: "Articulo nuevo",
      text: "Ingrese la informacion del articulo",
      icon: "info",
      showConfirmButton: false,
      timer: 2000,
      toast: false,
      position: "center",
    });
  </script>
  <script th:if="${param.old}" th:inline="javascript">
    Swal.fire({
      title: "Articulo antiguo",
      text: "Actualice el stock del articulo o su precio por unidad",
      icon: "info",
      showConfirmButton: false,
      timer: 2000,
      toast: false,
      position: "center",
    });
  </script>
</html>
